<body class="w3-medium w3-content" style="width:70%; max-width:1600px">

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:280px;" id="mySidebar"><br>
      <div class="w3-container">
        <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
          <i class="fa fa-remove"></i>
        </a>
        <img src="assets/img/kun.jpeg" style="width:45%;" class="w3-round"><br><br>
        <h4><b>Kun Qian</b></h4>
        <div style="margin-top:3px"><span class="w3-text-grey"><i class='fa fa-briefcase'></i> Computer Science Researcher</span></div>
        <div style="margin-top:3px"><span class="w3-text-grey"><i class='fa fa-envelope-o'></i> kunqian.usa [AT] gmail.com</span></div>
        <div style="margin-top:3px"><span class="w3-text-grey"><i class='fa fa-globe'></i> San Jose, California, USA</span></div>
        
      </div>
      <div class="w3-margin-top w3-bar-block">
        <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user-circle-o fa-fw w3-margin-right"></i>ABOUT</a> 
        <a href="#publications" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-graduation-cap fa-fw w3-margin-right"></i>RESEARCH & PUBLICATIONS</a>
        <a href="#awards" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-graduation-cap fa-fw w3-margin-right"></i>AWARD</a>
        <a href="#experience" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-industry fa-fw w3-margin-right"></i>EXPERIENCE</a>
        <a href="#education" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-university fa-fw w3-margin-right"></i>EDUCATION</a> 
        <a href="#service" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fas fa-concierge-bell w3-margin-right"></i>SERVICES</a>
        <a href="#skills" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fas fa-laptop-code w3-margin-right"></i>SKILLS</a>
      </div>
      <div class="w3-panel w3-large">
        <!-- <i class="fa fa-facebook-official w3-hover-opacity"></i> -->
        <!-- <i class="fa fa-instagram w3-hover-opacity"></i> -->
        <!-- <i class="fa fa-snapchat w3-hover-opacity"></i> -->
        <!-- <i class="fa fa-pinterest-p w3-hover-opacity"></i> -->
        
        <i class="fa fa-twitter w3-hover-opacity" onclick="window.location.href = 'https://twitter.com/kunqian_us';" style="margin-right:3px; cursor:pointer"></i> <br>
        <!-- <i class="fa fa-linkedin w3-hover-opacity" onclick="window.location.href = 'https://www.linkedin.com/in/kun-qian/';"  style="cursor:pointer"> <span class="w3-small w3-margin-left">closed till 2021</span> </i> -->
      </div>
    </nav>
    
    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
    
    <!-- !PAGE CONTENT! -->
    <div style="margin-top:10px"></div>
    <div class="w3-main" style="margin-left:300px">
    
        <div class="w3-container w3-padding-large" id="about">
            <div style="margin-top:10px"></div>
            <h4><b>Welcome to Kun's Personal Website</b></h4>
            <p>My name is Kun Qian (钱坤 in Chinese). I am currently a Research Staff Member at IBM Research. 
                My research is at the intersection of data integration, artificial intelligence, and NLP. 
                The goal of my work at IBM is to build intelligent human-in-the-loop machine learning systems 
                for entity understanding and knowledge curation. 
                Before joining IBM Research, 
                I obtained my PhD in Computer Science under the supervision of  
                <a href="https://www.baldertencate.com/about" target="_blank">Balder ten Cate</a>, 
                <a href="https://users.soe.ucsc.edu/~kolaitis/" target="_blank">Phokion Kolaitis</a>, and 
                <a href="https://megagon.ai/team/wang-chiew-tan/" target="_blank">Wang-Chiew Tan</a>
                at University of California Santa Cruz (UCSC). Before coming to the US, I also worked with <a href="https://www.cse.cuhk.edu.hk/~jcheng/">
                    James Cheng</a> at Nanyang Technological University in Singapore.</p>

            <div class="" style="margin-top:3px">
                <a class="w3-padding-small w3-small w3-round w3-black w3-hover-blue w3-margin-right"
                    href="assets/Kun-CV.pdf" target="_blank" style="text-decoration:none"><i class="fa fa-file-pdf-o"></i> Curriculum Vitae</a>
            </div>
            <hr>
        </div>

        <div class="w3-margin-top w3-container w3-padding-large" id="publications">
            <h4><b>Research & Publications</b></h4>
            <div class="w3-margin-top">
                <div class="w3-margin-top w3-margin-bottom">
                    <a class="w3-padding-small w3-small w3-round w3-light-blue w3-border-black  w3-text-black w3-hover-blue w3-margin-right"
                        href="https://dblp.uni-trier.de/pers/hd/q/Qian_0002:Kun" target="_blank" style="text-decoration:none">
                        <i class="fa fa-external-link"></i> DBLP Page <i class="ai ai-dblp w3-medium"></i></a>

                    <a class="w3-padding-small w3-small w3-round w3-light-blue w3-border-black  w3-text-black w3-hover-blue w3-margin-right"
                    href="https://scholar.google.com/citations?hl=en&user=T-9ljuEAAAAJ&view_op=list_works&sortby=pubdate" target="_blank" style="text-decoration:none">
                    <i class="fa fa-external-link"></i> GoogleScholar Page<i class="ai ai-google-scholar w3-medium"></i></a>
                </div>
                <p style="font-style: italic;"><b>Research Interests</b>: human-in-the-loop machine learning, active learning, semi-supervised learning, deep learning, explainable AI, data integration and data exchange.</p>
                <p> My research interests have been focused on data exchange and integration to, more recently, machine learning with small data. 
                    I have designed and developed several intelligent human-in-the-loop machine learning systems for entity-centric AI tasks. 
                    Representative systems include 
                    <b class="w3-text-indigo">LUSTRE</b> (ICDE 2018 demo, COLING 2018),
                    <b class="w3-text-indigo">SystemER</b> (VLDB 2019 demo, CIKM 2017),
                    and <b class="w3-text-indigo">PARTNER</b> (AAAI 2020 demo, EMNLP 2020).
                </p>
                <p>I am recently interested in semi-supervised learning and active learning techniques that can learn robust deep neural networks
                    from small labeled data. 
                </p>               
                <p>My publications (since 2015) are listed below:</p>
            </div>

            <div class="w3-margin-top"></div>
            <ngb-tabset class="w3-margin-top" [destroyOnHide]="false">
                <ngb-tab title="All papers">
                  <ng-template ngbTabContent>
                      <div class="w3-padding-large w3-light-grey w3-small" >
                        <div class="w3-padding-small" *ngFor="let paper of mypapers">
                            <span>
                                <b *ngIf="paper.pending_publishing" class="w3-text-red w3-meidum">
                                    (New)
                                </b>
                                <b>{{paper.title}}</b>
                                <span class="w3-tiny w3-text-dark-grey">&nbsp;({{paper.type}})</span>
                            </span><br>
                            <div>
                                <span *ngFor="let author of paper.authors; last as isLast">
                                    <span *ngIf="!isLast && author==='Kun Qian'"><b class="w3-text-indigo">{{author}}</b>, </span>
                                    <span *ngIf="!isLast && author!='Kun Qian'">{{author}}, </span>
                                    <span *ngIf="isLast && author!='Kun Qian'">{{author}}</span>
                                    <span *ngIf="isLast && author==='Kun Qian'"><b class="w3-text-indigo">{{author}}</b></span>
                                </span>
                            </div>
                            <div>
                                <span class="w3-margin-right"><b>({{paper.venue_short}})</b></span> 
                                <!-- <span>{{paper.venue_full}}</span> -->
                                <a *ngIf="paper.pdf_url!='na'" class="w3-tiny w3-round w3-dark-grey w3-hover-indigo"
                                    href="{{paper.pdf_url}}"   target="_blank" style="margin-right:0.5em; padding:2px 4px; text-decoration:none">pdf<i class=""></i></a>
                                <a *ngIf="paper.video_url!=undefined && paper.video_url!='na'" class="w3-tiny w3-round w3-indigo w3-hover-indigo"
                                    href="{{paper.video_url}}" target="_blank"   style="margin-right:0.5em; padding:2px 4px; text-decoration:none">video<i class=""></i></a>
                                <a *ngIf="paper.bibtex!=null" class="w3-tiny w3-text-white w3-round w3-hover-pink"
                                    (click)="showbibtex(paper)"  style="margin-right:0.5em; background-color:#5d88ab; padding:2px 4px; cursor:pointer; text-decoration:none">bibtex<i class=""></i></a>
                                <span *ngIf="paper.bibtex_file!=null" class="w3-tiny w3-text-white w3-round w3-hover-pink"
                                    style="margin-right:0.5em; background-color:#5d88ab; padding:2px 4px; cursor:pointer; text-decoration:none"
                                    (click)="viewBib(paper.bibtex_file)">bibtex<i class=""></i></span>    
                                <br>
                                <a *ngIf="paper.award!=null" href="{{paper.award_url}}" target="_blank"  class="w3-pink w3-round" style="padding:1px 4px"><b>
                                    <i class="w3-text-white fas fa-trophy"></i>  {{paper.award}}</b></a>                       
                            </div>
                            <div>
                                <span *ngIf="paper.acceptance_rate != undefined" class="w3-margin-right">(Acceptance rate: {{paper.acceptance_rate}})</span>
                            </div>
                            <!-- <link href="txtstyle.css" rel="stylesheet" type="text/css" /> -->

                        
                            <div class="w3-margin-top"></div>
                            <mat-divider></mat-divider>
                        </div>
                      </div>
                  </ng-template>
                </ngb-tab>

                <ngb-tab title="Conferences, Journals & Worshops">
                    <ng-template ngbTabContent>
                        <div class="w3-padding-large w3-light-grey w3-small" >
                            <div class="w3-padding-small" *ngFor="let paper of regular_papers">
                                <span>
                                    <b *ngIf="paper.pending_publishing" class="w3-text-red w3-meidum">
                                        (To appear)
                                    </b>
                                    <b>{{paper.title}}</b></span><br>
                                <div>
                                    <span *ngFor="let author of paper.authors; last as isLast">
                                        <span *ngIf="!isLast && author==='Kun Qian'"><b class="w3-text-indigo">{{author}}</b>, </span>
                                        <span *ngIf="!isLast && author!='Kun Qian'">{{author}}, </span>
                                        <span *ngIf="isLast && author!='Kun Qian'">{{author}}</span>
                                        <span *ngIf="isLast && author==='Kun Qian'"><b class="w3-text-indigo">{{author}}</b></span>
                                    </span>
                                </div>
                                <div>
                                    <span class="w3-margin-right"><b>({{paper.venue_short}})</b></span> 
                                    <!-- <span>{{paper.venue_full}}</span> -->
                                    <a *ngIf="paper.pdf_url!='na'" class="w3-tiny w3-round w3-dark-grey w3-hover-indigo"
                                        href="{{paper.pdf_url}}"   target="_blank" style="margin-right:0.5em; padding:2px 4px; text-decoration:none">pdf<i class=""></i></a>
                                    <a *ngIf="paper.video_url!='na'" class="w3-tiny w3-round w3-indigo w3-hover-indigo"
                                        href="{{paper.video_url}}" target="_blank"   style="margin-right:0.5em; padding:2px 4px; text-decoration:none">video<i class=""></i></a>
                                    <a *ngIf="paper.bibtex!=null" class="w3-tiny w3-text-white w3-round w3-hover-pink"
                                        (click)="showbibtex(paper)"  style="margin-right:0.5em; background-color:#5d88ab; padding:2px 4px; cursor:pointer; text-decoration:none">bibtex<i class=""></i></a>
                                    <span *ngIf="paper.bibtex_file!=null" class="w3-tiny w3-text-white w3-round w3-hover-pink"
                                        style="margin-right:0.5em; background-color:#5d88ab; padding:2px 4px; cursor:pointer; text-decoration:none"
                                        (click)="viewBib(paper.bibtex_file)">bibtex<i class=""></i></span>      
                                        <br>
                                    <a *ngIf="paper.award!=null" href="{{paper.award_url}}" target="_blank"  class="w3-pink w3-round" style="padding:1px 4px"><b>
                                        <i class="w3-text-white fas fa-trophy"></i>  {{paper.award}}</b></a>                             
                                </div>
                            
                                <div class="w3-margin-top"></div>
                                <mat-divider></mat-divider>
                            </div>
                          </div>
                    </ng-template>
                  </ngb-tab>
                

                <ngb-tab title="Demo papers">
                    <ng-template ngbTabContent>
                        <div class="w3-padding-large w3-light-grey w3-small" >
                            <div class="w3-padding-small" *ngFor="let paper of demo_papers">
                                <span>
                                    <b *ngIf="paper.pending_publishing" class="w3-text-red w3-meidum">
                                        (To appear)
                                    </b>
                                    <b>{{paper.title}}</b></span><br>
                                <div>
                                    <span *ngFor="let author of paper.authors; last as isLast">
                                        <span *ngIf="!isLast && author==='Kun Qian'"><b class="w3-text-indigo">{{author}}</b>, </span>
                                        <span *ngIf="!isLast && author!='Kun Qian'">{{author}}, </span>
                                        <span *ngIf="isLast && author!='Kun Qian'">{{author}}</span>
                                        <span *ngIf="isLast && author==='Kun Qian'"><b class="w3-text-indigo">{{author}}</b></span>
                                    </span>
                                </div>
                                <div>
                                    <span class="w3-margin-right"><b>({{paper.venue_short}})</b></span> 
                                    <!-- <span>{{paper.venue_full}}</span> -->
                                    <a *ngIf="paper.pdf_url!='na'" class="w3-tiny w3-round w3-dark-grey w3-hover-indigo"
                                        href="{{paper.pdf_url}}"   target="_blank" style="margin-right:0.5em; padding:2px 4px; text-decoration:none">pdf<i class=""></i></a>
                                    <a *ngIf="paper.video_url!='na'" class="w3-tiny w3-round w3-indigo w3-hover-indigo"
                                        href="{{paper.video_url}}" target="_blank"   style="margin-right:0.5em; padding:2px 4px; text-decoration:none">video<i class=""></i></a>
                                    <a *ngIf="paper.bibtex!=null" class="w3-tiny w3-text-white w3-round w3-hover-pink"
                                        (click)="showbibtex(paper)"  style="margin-right:0.5em; background-color:#5d88ab; padding:2px 4px; cursor:pointer; text-decoration:none">bibtex<i class=""></i></a>
                                    <span *ngIf="paper.bibtex_file!=null" class="w3-tiny w3-text-white w3-round w3-hover-pink"
                                        style="margin-right:0.5em; background-color:#5d88ab; padding:2px 4px; cursor:pointer; text-decoration:none"
                                        (click)="viewBib(paper.bibtex_file)">bibtex<i class=""></i></span>      
                                    <br>
                                    <a *ngIf="paper.award!=null" href="{{paper.award_url}}" target="_blank"  class="w3-pink w3-round" style="padding:1px 4px"><b>
                                        <i class="w3-text-white fas fa-trophy"></i>  {{paper.award}}</b></a>                             
                                </div>
                            
                                <div class="w3-margin-top"></div>
                                <mat-divider></mat-divider>
                            </div>
                          </div>
                    </ng-template>
                  </ngb-tab>
                
                <ngb-tab title="Tutorials">
                <ng-template ngbTabContent>
                    <div class="w3-padding-large w3-light-grey w3-small" >
                        <div class="w3-padding-small" *ngFor="let paper of tutorials">
                            <span>
                                <b *ngIf="paper.pending_publishing" class="w3-text-red w3-meidum">
                                    (To appear)
                                </b>
                                <b>{{paper.title}}</b></span><br>
                            <div>
                                <span *ngFor="let author of paper.authors; last as isLast">
                                    <span *ngIf="!isLast && author==='Kun Qian'"><b class="w3-text-indigo">{{author}}</b>, </span>
                                    <span *ngIf="!isLast && author!='Kun Qian'">{{author}}, </span>
                                    <span *ngIf="isLast && author!='Kun Qian'">{{author}}</span>
                                    <span *ngIf="isLast && author==='Kun Qian'"><b class="w3-text-indigo">{{author}}</b></span>
                                </span>
                            </div>
                            <div>
                                <span class="w3-margin-right"><b>({{paper.venue_short}})</b></span> 
                                <!-- <span>{{paper.venue_full}}</span> -->
                                <a *ngIf="paper.pdf_url!='na'" class="w3-tiny w3-round w3-dark-grey w3-hover-indigo"
                                    href="{{paper.pdf_url}}"   target="_blank" style="margin-right:0.5em; padding:2px 4px; text-decoration:none">pdf<i class=""></i></a>
                                <a *ngIf="paper.video_url!='na'" class="w3-tiny w3-round w3-indigo w3-hover-indigo"
                                    href="{{paper.video_url}}" target="_blank"   style="margin-right:0.5em; padding:2px 4px; text-decoration:none">video<i class=""></i></a>
                                <a *ngIf="paper.bibtex!=null" class="w3-tiny w3-text-white w3-round w3-hover-pink"
                                    (click)="showbibtex(paper)"  style="margin-right:0.5em; background-color:#5d88ab; padding:2px 4px; cursor:pointer; text-decoration:none">bibtex<i class=""></i></a>
                                <span *ngIf="paper.bibtex_file!=null" class="w3-tiny w3-text-white w3-round w3-hover-pink"
                                    style="margin-right:0.5em; background-color:#5d88ab; padding:2px 4px; cursor:pointer; text-decoration:none"
                                    (click)="viewBib(paper.bibtex_file)">bibtex<i class=""></i></span>     
                                <br>
                                <a *ngIf="paper.award!=null" href="{{paper.award_url}}" target="_blank"  class="w3-pink w3-round" style="padding:1px 4px"><b>
                                    <i class="w3-text-white fas fa-trophy"></i>  {{paper.award}}</b></a>                              
                            </div>
                        
                            <div class="w3-margin-top"></div>
                            <mat-divider></mat-divider>
                        </div>
                      </div>
                </ng-template>
                </ngb-tab>

              </ngb-tabset>
              <hr>
        </div>
        
        <div class="w3-container w3-padding-large" id="awards">
            <h4><b>Award(s)</b></h4>
            <table>
                <tr>
                    <td><b>Best Post/Demo Award</b> @ The 19th International Semantic Web Conference (ISWC 2020)</td>
                </tr>
            </table>
        </div>

        <div class="w3-container w3-padding-large" id="experience">
            <h4><b>Experience</b></h4>
            <table>
                <tr>
                    <td><b>2020 - Now </b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;&nbsp;</td>
                    <td>Research Staff Member @ IBM Research - Almaden, California, USA</td>
                </tr>
                <tr>
                    <td><b>2017 - 2020 </b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;&nbsp;</td>
                    <td>Research Engineer @ IBM Research - Almaden, California, USA</td>
                </tr>
                <tr>
                    <td><b>2010 - 2011</b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;&nbsp;</td>
                    <td>Project Officer @ Nanyang Technological University, Singapore</td>
                </tr>
            </table>
            <hr>
        </div>

        <div class="w3-margin-top w3-container w3-padding-large" id="education">
            <h4><b>Education</b></h4>
            <table>
                <tr>
                    <td><b>Ph.D.</b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;-&nbsp;</td>
                    <td>University of California, Santa Cruz</td>
                </tr>
                <tr>
                    <td><b>M.S.</b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;-&nbsp;</td>
                    <td>Beihang University</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="w3-margin-left w3-margin-right"></td>
                    <td>
                        <li>Visited Kyushu University as exchange student</li>
                    </td>
                </tr>
                <tr>
                    <td><b>B.S.</b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;-&nbsp;</td>
                    <td>Chongqing University</td>
                </tr>
            </table>
            <hr>
        </div>


        <div class="w3-margin-top w3-container w3-padding-large" id="service">
            <h4><b>Professional Services</b></h4>
            <table>
                <tr>
                    <td><b>Conference PC:</b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;&nbsp;</td>
                    <td>
                        IUI 2021 (demo), NAACL 2021
                    </td>
                </tr>
                <tr>
                    <td><b></b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;&nbsp;</td>
                    <td>
                        ACL 2020, IJCAI 2020, AAAI (2021, 2020), ICDE 2020 (industry track)
                    </td>
                </tr>
                <tr>
                    <td><b></b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;&nbsp;</td>
                    <td>
                        IEEE BigData 2019, WebDB@SIGMOD 2018 
                    </td>
                </tr>
                <tr>
                    <td><b>Journal referee:</b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;&nbsp;</td>
                    <td>ACM TODS (2018, 2019), IEEE TKDE (2019)</td>
                </tr>
            </table>
            <hr>
        </div>

        

        <div class="w3-container w3-padding-large" id="skills">
            <h4><b>Skills</b></h4>
            <table>
                <tr>
                    <td><b>Programming:</b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;&nbsp;</td>
                    <td>Python, Java</td>
                </tr>
                <tr>
                    <td><b>Deep Learning</b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;&nbsp;</td>
                    <td>Pytorch, Pytorch-transformer</td>
                </tr>
                <tr>
                    <td><b>Web Development</b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;&nbsp;</td>
                    <td>Angular, Angular Material, Django, Javascript, Typescript, HTML, W3.CSS </td>
                </tr>
                <tr>
                    <td><b>Others</b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;&nbsp;</td>
                    <td>LaTeX</td>
                </tr>
            </table>
        </div>

        <div class="w3-padding w3-margin-top" style="max-width:350px">
            <div class="w3-margin-bottom">
                <span class="w3-small w3-text-grey">Visitors since May 2019</span><br>
                <a href="https://m.maploco.com/details/03c5xslx">
                    <img style="border:0px;width:100%!important" src="https://www.maploco.com/vmap/9974805.png" alt="Locations of Site Visitors" title="Locations of Site Visitors"/></a>
    
            </div>
            <a class="w3-margin-bottom w3-margin-top" href="https://www.hitwebcounter.com" target="_blank">
                <img src="https://hitwebcounter.com/counter/counter.php?page=7182516&style=0006&nbdigits=5&type=page&initCount=1300" title="Total Visits" Alt=" counter Visits"   border="0" >
            </a> 
        </div>

        

    <!-- End page content -->
    </div>
    
    <script>
    // // Script to open and close sidebar
    // function w3_open() {
    //     document.getElementById("mySidebar").style.display = "block";
    //     document.getElementById("myOverlay").style.display = "block";
    // }
     
    // function w3_close() {
    //     document.getElementById("mySidebar").style.display = "none";
    //     document.getElementById("myOverlay").style.display = "none";
    // }
    </script>
    
    </body>