<body class="w3-medium w3-content" style="width:70%; max-width:1600px">

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:280px;" id="mySidebar"><br>
      <div class="w3-container">
        <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
          <i class="fa fa-remove"></i>
        </a>
        <img src="assets/img/kun.jpeg" style="width:45%;" class="w3-round"><br><br>
        <h4><b>Kun Qian</b></h4>
        <div style="margin-top:3px"><span class="w3-text-grey"><i class='fa fa-briefcase'></i> Computer Science Researcher</span></div>
        <div style="margin-top:3px"><span class="w3-text-grey"><i class='fa fa-envelope-o'></i> kunqian.usa [AT] gmail.com</span></div>
        <div style="margin-top:3px"><span class="w3-text-grey"><i class='fa fa-globe'></i> San Jose, California, USA</span></div>
        
      </div>
      <div class="w3-margin-top w3-bar-block">
        <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-th-large fa-fw w3-margin-right"></i>ABOUT</a> 
        <a href="#experience" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>EXPERIENCE</a>
        <a href="#education" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>EDUCATION</a> 
        <a href="#service" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>PROFESSIONAL SERVICES</a>
        <a href="#publications" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>RESEARCH & PUBLICATIONS</a>
        <a href="#skills" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>SKILLS</a>
      </div>
      <div class="w3-panel w3-large">
        <!-- <i class="fa fa-facebook-official w3-hover-opacity"></i> -->
        <!-- <i class="fa fa-instagram w3-hover-opacity"></i> -->
        <!-- <i class="fa fa-snapchat w3-hover-opacity"></i> -->
        <!-- <i class="fa fa-pinterest-p w3-hover-opacity"></i> -->
        
        <i class="fa fa-twitter w3-hover-opacity" onclick="window.location.href = 'https://twitter.com/kunqian_us';" style="margin-right:3px; cursor:pointer"></i>
        <i class="fa fa-linkedin w3-hover-opacity" onclick="window.location.href = 'https://www.linkedin.com/in/kun-qian/';"  style="cursor:pointer"></i>
      </div>
      <div class="w3-padding w3-margin-top">
        <div class="w3-margin-bottom">
            <span class="w3-small w3-text-grey">Visitors since May 2019</span><br>
            <a href="https://m.maploco.com/details/03c5xslx">
                <img style="border:0px;width:100%!important" src="https://www.maploco.com/vmap/9974805.png" alt="Locations of Site Visitors" title="Locations of Site Visitors"/></a>

        </div>
        <a class="w3-margin-bottom w3-margin-top" href="https://www.hitwebcounter.com" target="_blank">
            <img src="https://hitwebcounter.com/counter/counter.php?page=7182516&style=0006&nbdigits=5&type=page&initCount=1300" title="Total Visits" Alt=" counter Visits"   border="0" >
        </a> 
      </div>
    </nav>
    
    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
    
    <!-- !PAGE CONTENT! -->
    <div style="margin-top:10px"></div>
    <div class="w3-main" style="margin-left:300px">
    
        <div class="w3-container w3-padding-large" id="about">
            <div style="margin-top:10px"></div>
            <h4><b>Welcome to Kun's Personal Website</b></h4>
            <p>My name is Kun Qian (钱坤 in Chinese). I am currently a researcher at IBM Research. 
                My research is at the intersection of data integration, artificial intelligence, and NLP. 
                The goal of my work is to build intelligent human-in-the-loop machine learning systems 
                for entity understanding and knowledge creation. 
                Before joining IBM Research, 
                I earned my PhD in Computer Science under the supervision of three excellent advisers: 
                <a href="https://www.baldertencate.com/about" target="_blank">Balder ten Cate</a>, 
                <a href="https://users.soe.ucsc.edu/~kolaitis/" target="_blank">Phokion Kolaitis</a>, and 
                <a href="https://megagon.ai/team/wang-chiew-tan/" target="_blank">Wang-Chiew Tan</a>
                at University of California Santa Cruz (UCSC). 
                Before coming to the US, I also worked with James Cheng at Nanyang Technological University in Singapore..</p>

            <div class="" style="margin-top:3px">
                <a class="w3-padding-small w3-small w3-round w3-black w3-hover-blue w3-margin-right"
                    href="assets/Kun-CV.pdf" target="_blank" style="text-decoration:none"><i class="fa fa-file-pdf-o"></i> Curriculum Vitae</a>
            </div>
        </div>
        
        <div class="w3-container w3-padding-large" id="experience">
            <h4><b>Experience</b></h4>
            <table>
                <tr>
                    <td><b>2017 - Now </b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;&nbsp;</td>
                    <td>Researcher @ IBM Research - Almaden, California, USA</td>
                </tr>
                <tr>
                    <td><b>2010 - 2011</b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;&nbsp;</td>
                    <td>Project Officer @ Nanyang Technological University, Singapore</td>
                </tr>
            </table>
        </div>

        <div class="w3-margin-top w3-container w3-padding-large" id="education">
            <h4><b>Education</b></h4>
            <table>
                <tr>
                    <td><b>Ph.D.</b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;-&nbsp;</td>
                    <td>University of California, Santa Cruz</td>
                </tr>
                <tr>
                    <td><b>M.S.</b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;-&nbsp;</td>
                    <td>Beihang University</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="w3-margin-left w3-margin-right"></td>
                    <td>
                        <li>Visited Kyushu University as exchange student</li>
                    </td>
                </tr>
                <tr>
                    <td><b>B.S.</b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;-&nbsp;</td>
                    <td>Chongqing University</td>
                </tr>
            </table>
        </div>


        <div class="w3-margin-top w3-container w3-padding-large" id="service">
            <h4><b>Professional Services</b></h4>
            <table>
                <tr>
                    <td><b>Conference PC:</b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;&nbsp;</td>
                    <td>
                        ACL 2020, IJCAI 2020, AAAI 2020, ICDE 2020 (industry track)
                    </td>
                </tr>
                <tr>
                    <td><b></b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;&nbsp;</td>
                    <td>
                        IEEE BigData 2019, WebDB@SIGMOD 2018 
                    </td>
                </tr>
                <tr>
                    <td><b>Journal referee:</b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;&nbsp;</td>
                    <td>ACM TODS (2018, 2019), IEEE TKDE (2019)</td>
                </tr>
            </table>
        </div>

        <div class="w3-margin-top w3-container w3-padding-large" id="publications">
            <h4><b>Research & Publications</b></h4>

            <div class="w3-margin-top">
                <div class="w3-margin-top w3-margin-bottom">
                    <a class="w3-padding-small w3-small w3-round w3-border w3-border-black  w3-text-black w3-hover-blue w3-margin-right"
                        href="https://dblp.uni-trier.de/pers/hd/q/Qian_0002:Kun" target="_blank" style="text-decoration:none">
                        <i class="fa fa-external-link"></i> DBLP Profile</a>

                </div>
                <p style="font-style: italic;"><b>Research Interests</b>: human-in-the-loop machine learning, active learning, deep learning, data integration and data exchange.</p>
                <p> My research interests have been focused on data exchange and information integration to, more recently, human-in-the-loop machine learning. 
                    I am interested in building intelligent human-in-the-loop machine learning (particuarly, deep learning) systems, with intuitive UI, for entity-centric AI tasks. 
                    Representative systems include 
                    <b class="w3-text-indigo">LUSTRE</b> (ICDE 2018 demo track),
                    <b class="w3-text-indigo">SystemER</b> (VLDB 2019 demo track),
                    and <b class="w3-text-indigo">PARTNER</b> (AAAI 2020 demo track).
                    Moreover, one of my latest projects is understanding the explainability for NLP tasks, and we are giving a tutorial at AACL 2020 on this topic.
                </p>
                <p>My publications (since 2015) are listed below:</p>
            </div>
            
            <div class="w3-margin-top"></div>
            <ngb-tabset class="w3-margin-top" [destroyOnHide]="false">
                <ngb-tab title="All papers">
                  <ng-template ngbTabContent>
                      <div class="w3-padding-large w3-light-grey w3-small" >
                        <div class="w3-padding-small" *ngFor="let paper of mypapers">
                            <span><b>{{paper.title}}</b></span><br>
                            <div>
                                <span *ngFor="let author of paper.authors; last as isLast">
                                    <span *ngIf="!isLast && author==='Kun Qian'"><b class="w3-text-indigo">{{author}}</b>, </span>
                                    <span *ngIf="!isLast && author!='Kun Qian'">{{author}}, </span>
                                    <span *ngIf="isLast && author!='Kun Qian'">{{author}}</span>
                                    <span *ngIf="isLast && author==='Kun Qian'"><b class="w3-text-indigo">{{author}}</b></span>
                                </span>
                            </div>
                            <div>
                                <span class="w3-margin-right"><b>({{paper.venue_short}})</b></span> 
                                <!-- <span>{{paper.venue_full}}</span> -->
                                <a *ngIf="paper.pdf_url!='na'" class="w3-tiny w3-round w3-dark-grey w3-hover-indigo"
                                    href="{{paper.pdf_url}}"   target="_blank" style="margin-right:0.5em; padding:2px 4px; text-decoration:none">pdf<i class=""></i></a>
                                <a *ngIf="paper.video_url!='na'" class="w3-tiny w3-round w3-indigo w3-hover-indigo"
                                    href="{{paper.video_url}}" target="_blank"   style="margin-right:0.5em; padding:2px 4px; text-decoration:none">video<i class=""></i></a>
                                <a *ngIf="paper.bibtex!=null" class="w3-tiny w3-text-white w3-round w3-hover-pink"
                                    (click)="showbibtex(paper)"  style="margin-right:0.5em; background-color:#5d88ab; padding:2px 4px; cursor:pointer; text-decoration:none">bibtex<i class=""></i></a>
                                <a *ngIf="paper.bibtex_url!=null" class="w3-tiny w3-text-white w3-round w3-hover-pink"
                                    href="{{paper.bibtex_url}}" target="_blank" style="margin-right:0.5em; background-color:#5d88ab; padding:2px 4px; cursor:pointer; text-decoration:none">bibtex<i class=""></i></a>
                            </div>
                        
                            <div class="w3-margin-top"></div>
                            <mat-divider></mat-divider>
                        </div>
                      </div>
                  </ng-template>
                </ngb-tab>

                <ngb-tab title="Conferences, Journals & Worshops">
                    <ng-template ngbTabContent>
                        <div class="w3-padding-large w3-light-grey w3-small" >
                            <div class="w3-padding-small" *ngFor="let paper of regular_papers">
                                <span><b>{{paper.title}}</b></span><br>
                                <div>
                                    <span *ngFor="let author of paper.authors; last as isLast">
                                        <span *ngIf="!isLast && author==='Kun Qian'"><b class="w3-text-indigo">{{author}}</b>, </span>
                                        <span *ngIf="!isLast && author!='Kun Qian'">{{author}}, </span>
                                        <span *ngIf="isLast && author!='Kun Qian'">{{author}}</span>
                                        <span *ngIf="isLast && author==='Kun Qian'"><b class="w3-text-indigo">{{author}}</b></span>
                                    </span>
                                </div>
                                <div>
                                    <span class="w3-margin-right"><b>({{paper.venue_short}})</b></span> 
                                    <!-- <span>{{paper.venue_full}}</span> -->
                                    <a *ngIf="paper.pdf_url!='na'" class="w3-tiny w3-round w3-dark-grey w3-hover-indigo"
                                        href="{{paper.pdf_url}}"   target="_blank" style="margin-right:0.5em; padding:2px 4px; text-decoration:none">pdf<i class=""></i></a>
                                    <a *ngIf="paper.video_url!='na'" class="w3-tiny w3-round w3-indigo w3-hover-indigo"
                                        href="{{paper.video_url}}" target="_blank"   style="margin-right:0.5em; padding:2px 4px; text-decoration:none">video<i class=""></i></a>
                                    <a *ngIf="paper.bibtex!=null" class="w3-tiny w3-text-white w3-round w3-hover-pink"
                                        (click)="showbibtex(paper)"  style="margin-right:0.5em; background-color:#5d88ab; padding:2px 4px; cursor:pointer; text-decoration:none">bibtex<i class=""></i></a>
                                    <a *ngIf="paper.bibtex_url!=null" class="w3-tiny w3-text-white w3-round w3-hover-pink"
                                        href="{{paper.bibtex_url}}" target="_blank" style="margin-right:0.5em; background-color:#5d88ab; padding:2px 4px; cursor:pointer; text-decoration:none">bibtex<i class=""></i></a>
                                </div>
                            
                                <div class="w3-margin-top"></div>
                                <mat-divider></mat-divider>
                            </div>
                          </div>
                    </ng-template>
                  </ngb-tab>
                

                <ngb-tab title="Demo papers">
                    <ng-template ngbTabContent>
                        <div class="w3-padding-large w3-light-grey w3-small" >
                            <div class="w3-padding-small" *ngFor="let paper of demo_papers">
                                <span><b>{{paper.title}}</b></span><br>
                                <div>
                                    <span *ngFor="let author of paper.authors; last as isLast">
                                        <span *ngIf="!isLast && author==='Kun Qian'"><b class="w3-text-indigo">{{author}}</b>, </span>
                                        <span *ngIf="!isLast && author!='Kun Qian'">{{author}}, </span>
                                        <span *ngIf="isLast && author!='Kun Qian'">{{author}}</span>
                                        <span *ngIf="isLast && author==='Kun Qian'"><b class="w3-text-indigo">{{author}}</b></span>
                                    </span>
                                </div>
                                <div>
                                    <span class="w3-margin-right"><b>({{paper.venue_short}})</b></span> 
                                    <!-- <span>{{paper.venue_full}}</span> -->
                                    <a *ngIf="paper.pdf_url!='na'" class="w3-tiny w3-round w3-dark-grey w3-hover-indigo"
                                        href="{{paper.pdf_url}}"   target="_blank" style="margin-right:0.5em; padding:2px 4px; text-decoration:none">pdf<i class=""></i></a>
                                    <a *ngIf="paper.video_url!='na'" class="w3-tiny w3-round w3-indigo w3-hover-indigo"
                                        href="{{paper.video_url}}" target="_blank"   style="margin-right:0.5em; padding:2px 4px; text-decoration:none">video<i class=""></i></a>
                                    <a *ngIf="paper.bibtex!=null" class="w3-tiny w3-text-white w3-round w3-hover-pink"
                                        (click)="showbibtex(paper)"  style="margin-right:0.5em; background-color:#5d88ab; padding:2px 4px; cursor:pointer; text-decoration:none">bibtex<i class=""></i></a>
                                    <a *ngIf="paper.bibtex_url!=null" class="w3-tiny w3-text-white w3-round w3-hover-pink"
                                        href="{{paper.bibtex_url}}" target="_blank" style="margin-right:0.5em; background-color:#5d88ab; padding:2px 4px; cursor:pointer; text-decoration:none">bibtex<i class=""></i></a>
                                </div>
                            
                                <div class="w3-margin-top"></div>
                                <mat-divider></mat-divider>
                            </div>
                          </div>
                    </ng-template>
                  </ngb-tab>
                
                <ngb-tab title="Tutorials">
                <ng-template ngbTabContent>
                    <div class="w3-padding-large w3-light-grey w3-small" >
                        <div class="w3-padding-small" *ngFor="let paper of tutorials">
                            <span><b>{{paper.title}}</b></span><br>
                            <div>
                                <span *ngFor="let author of paper.authors; last as isLast">
                                    <span *ngIf="!isLast && author==='Kun Qian'"><b class="w3-text-indigo">{{author}}</b>, </span>
                                    <span *ngIf="!isLast && author!='Kun Qian'">{{author}}, </span>
                                    <span *ngIf="isLast && author!='Kun Qian'">{{author}}</span>
                                    <span *ngIf="isLast && author==='Kun Qian'"><b class="w3-text-indigo">{{author}}</b></span>
                                </span>
                            </div>
                            <div>
                                <span class="w3-margin-right"><b>({{paper.venue_short}})</b></span> 
                                <!-- <span>{{paper.venue_full}}</span> -->
                                <a *ngIf="paper.pdf_url!='na'" class="w3-tiny w3-round w3-dark-grey w3-hover-indigo"
                                    href="{{paper.pdf_url}}"   target="_blank" style="margin-right:0.5em; padding:2px 4px; text-decoration:none">pdf<i class=""></i></a>
                                <a *ngIf="paper.video_url!='na'" class="w3-tiny w3-round w3-indigo w3-hover-indigo"
                                    href="{{paper.video_url}}" target="_blank"   style="margin-right:0.5em; padding:2px 4px; text-decoration:none">video<i class=""></i></a>
                                <a *ngIf="paper.bibtex!=null" class="w3-tiny w3-text-white w3-round w3-hover-pink"
                                    (click)="showbibtex(paper)"  style="margin-right:0.5em; background-color:#5d88ab; padding:2px 4px; cursor:pointer; text-decoration:none">bibtex<i class=""></i></a>
                                <a *ngIf="paper.bibtex_url!=null" class="w3-tiny w3-text-white w3-round w3-hover-pink"
                                    href="{{paper.bibtex_url}}" target="_blank" style="margin-right:0.5em; background-color:#5d88ab; padding:2px 4px; cursor:pointer; text-decoration:none">bibtex<i class=""></i></a>
                            </div>
                        
                            <div class="w3-margin-top"></div>
                            <mat-divider></mat-divider>
                        </div>
                      </div>
                </ng-template>
                </ngb-tab>

              </ngb-tabset>
        </div>

        <div class="w3-container w3-padding-large" id="skills">
            <h4><b>Skills</b></h4>
            <table>
                <tr>
                    <td><b>Programming:</b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;&nbsp;</td>
                    <td>Python, Java</td>
                </tr>
                <tr>
                    <td><b>Deep Learning</b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;&nbsp;</td>
                    <td>Pytorch, Pytorch-transformer</td>
                </tr>
                <tr>
                    <td><b>Web Development</b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;&nbsp;</td>
                    <td>Angular, Angular Material, Django, Javascript, Typescript, HTML, W3.CSS </td>
                </tr>
                <tr>
                    <td><b>Others</b></td>
                    <td class="w3-margin-left w3-margin-right">&nbsp;&nbsp;</td>
                    <td>LaTeX</td>
                </tr>
            </table>
        </div>

        
    
      <!-- Footer -->
      <!-- <footer class="w3-container w3-margin w3-padding-large w3-dark-grey">
      <div class="w3-row-padding">
        <div class="w3-third">
          <h3>Contact me</h3>
          <p>Email: kunqian[Dot]usa[AT]gmail.com</p>
          <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </div>
      
        <div class="w3-third">
          <h3>Social Media</h3>
          <ul class="w3-ul w3-hoverable">
            <li class="w3-padding-16">
              <img src="/w3images/workshop.jpg" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">Lorem</span><br>
              <span>Sed mattis nunc</span>
            </li>
          </ul>
        </div>
    
        <div class="w3-third">
          <h3>Visitors</h3>
            
        </div>
    
      </div>
      </footer> -->

    <!-- End page content -->
    </div>
    
    <script>
    // // Script to open and close sidebar
    // function w3_open() {
    //     document.getElementById("mySidebar").style.display = "block";
    //     document.getElementById("myOverlay").style.display = "block";
    // }
     
    // function w3_close() {
    //     document.getElementById("mySidebar").style.display = "none";
    //     document.getElementById("myOverlay").style.display = "none";
    // }
    </script>
    
    </body>